In [63]:
import pandas as pd
from datetime import datetime
# Set ipython's max row display
pd.set_option('display.max_row', 1000)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

In [64]:
data = pd.read_csv('all_stocks_5yr.csv')

In [65]:
data.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'Name'], dtype='object')

In [66]:
finalData = data.pivot(index='date', columns='Name', values='close')

ValueError: Index contains duplicate entries, cannot reshape

In [22]:
finalData.head()

Name,A,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,ADM,ADP,ADS,ADSK,AEE,AEP,AES,AET,AFL,AGN,AIG,AIV,AIZ,AKAM,ALL,ALLE,ALXN,...,WAT,WBA,WDC,WEC,WELL,WFC,WHR,WM,WMB,WMT,WRK,WU,WY,WYNN,XEL,XL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2013-06-24,28.8730,52.4920,35.2134,49.7430,31.3635,71.0011,43.60,38.6916,29.0578,60.8550,169.3494,33.48,27.2106,36.1664,9.7427,58.8486,24.7627,117.6043,39.0078,23.7981,44.4193,41.41,42.4480,NaN,87.99,...,97.63,44.9584,52.1061,33.5128,49.1502,34.5638,100.1637,33.9475,24.1646,64.7857,NaN,13.9244,22.5182,108.3715,23.4629,26.5039,34.1142,74.1415,39.3435,20.7185,23.9925,44.2309,72.3084,26.6121,29.2210
2013-06-25,28.9890,52.5037,35.8355,49.6873,31.4891,71.4496,44.37,39.1222,29.2696,61.2644,171.2577,34.04,27.7251,36.4486,9.9648,58.8486,25.2697,118.8956,39.9572,24.5188,44.7969,41.91,42.7031,NaN,88.38,...,99.73,42.3105,53.4590,33.8916,50.0203,34.9980,102.1621,34.0084,24.3555,64.9341,NaN,14.0519,22.9433,109.6638,23.7643,26.9017,34.6178,74.6694,39.2071,20.7648,24.1415,44.3868,72.0202,27.2532,30.2887
2013-06-26,28.8935,51.9091,36.4659,51.0698,31.9285,71.3599,45.68,39.6055,29.6314,61.7183,175.4481,34.64,28.0819,37.0213,10.1697,59.6060,25.4654,120.6075,40.2060,24.9427,45.1926,42.76,43.5047,NaN,92.75,...,99.42,42.1140,54.0376,34.2450,50.8748,35.6233,100.8627,34.8345,24.9281,65.4929,NaN,14.3409,23.1184,111.0869,23.9988,27.2180,34.8829,75.2475,39.4311,20.7185,24.2811,44.9583,71.9914,27.8178,29.7885
2013-06-27,29.3984,51.3497,36.2558,51.3203,31.7133,71.9518,45.93,39.8692,29.7461,61.7361,177.1302,34.92,28.5300,36.9217,10.2124,60.2025,25.8835,123.1216,40.9987,25.4175,45.7770,42.69,43.9966,NaN,93.79,...,100.38,42.0111,55.7377,34.4891,52.1488,36.0922,103.4436,34.9649,24.8747,65.7112,NaN,14.4089,23.5103,112.2831,24.0323,27.5163,34.9978,75.4486,40.1716,21.2509,24.7932,45.2051,72.0106,27.9709,29.6923
2013-06-28,29.1801,51.7083,34.7511,51.8028,31.2828,64.5432,45.56,39.5967,29.9226,61.2822,178.0745,33.94,28.5798,37.1708,10.2380,60.1551,25.8479,123.4738,41.2015,25.4683,45.7770,42.55,43.8326,NaN,92.24,...,100.05,41.3561,55.2659,34.4975,52.0711,35.8404,102.4847,35.0693,24.7907,65.0389,NaN,14.5449,23.7520,111.7331,23.7308,27.4079,34.9978,75.7084,39.9086,20.9962,25.0818,45.0363,71.9914,27.6743,29.7116

In [57]:
df = finalData.dropna(1)

(1260, 393)